<section class="section">
  <div class="container ml-6 px-6" id="carouselContent">
    <!-- Start Carousel -->
    <div id="carousel-demo" class="carousel box">
      <div class="item-1 ml-6 px-3">
        <img
          width="600"
          src="http://tolkiengateway.net/w/images/thumb/4/44/J.R.R._Tolkien_-_The_Fellowship_of_the_Ring.jpg/180px-J.R.R._Tolkien_-_The_Fellowship_of_the_Ring.jpg"
          alt="First slide"
          id="Slide1"
        />
      </div>
      <div class="item-2 ml-6 px-3">
        <img
          width="600"
          src="https://images-na.ssl-images-amazon.com/images/I/51sdWhtHOwL.jpg"
          alt="Second slide"
          id="Slide2"
        />
      </div>
      <div class="item-3 ml-6 px-3">
        <img
          width="600"
          src="https://images-na.ssl-images-amazon.com/images/I/81QAAnCNM7L.jpg"
          alt="Third slide"
          id="Slide3"
        />
      </div>

    </div>

    <!-- End Carousel -->
  </div>
</section>
<section>
  <h1>We've Got You!</h1>
  <h2>Here Are Your Books</h2>

  <!-- Cart table -->
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ShoppingcartId</th>
        <th scope="col">UserId</th>
        <th scope="col">BookId</th>
        <th scope="col">Title</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody id="cartTableBody">
      <!--Shopping Cart data -->
      <!-- /Shopping Cart data -->
    </tbody>
  </table>
  <!-- /Cart table -->

  <button type="button" class="btn btn-secondary" id="continueBrowsing">
    Continue browsing
  </button>
  <button type="button" class="btn btn-secondary" id="purchasesHistory">
    Purchases history
  </button>
  <button type="button" class="btn btn-primary" id="confirmPurchase">
    Confirm purchase!
  </button>
</section>