{{#each users}}
  {{> profile-card}}
{{/each}}





{{#if posts.length}}
<section>
  <div id="profile-header-container">
    <h2 class="text-warning" id="profile-header">Your Reviews</h2>
  </div>
  
  <div>
    <ol class="profile-list">
      {{#each posts}}
      <li>
        {{> post-info}}
      </li>
      {{/each}}
    </ol>
  </div>
</section>
{{/if}}